// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.photo {
  border: 1px solid gray;
  width: 5rem;
  height: 5rem;
}

.user p {
  position: relative;
  top: 2rem;
  margin: 1rem;
}